.content {
    padding: 30px;
}

.titulo {
    margin-top: 40px;
}

.subtitulo {
    margin-top: 73px;
}

.field {
    margin-top: 29px;
}
.boton {
    margin-top: 54px;
}

.footer {
    margin-top: 113px;
}